---
import ProtectedLayout from '@/layouts/ProtectedLayout.astro';

---

<ProtectedLayout>
	<h1 class="text-3xl font-bold underline text-theme-keppel">
		Hello world!
	</h1>
	<h1 class="text-3xl font-bold underline text-theme-rich-black">
		Hello world!
	</h1>
	<h1 class="text-3xl font-bold underline text-theme-seasalt">
		Hello world!
	</h1>
	<h1 class="text-3xl font-bold underline text-theme-gray">
		Hello world!
	</h1>
	<h1 class="text-3xl font-bold underline text-theme-blue">
		Hello world!
	</h1>
	<h1 class="text-3xl font-bold underline text-theme-berkeley-blue">
		Hello world!
	</h1>
</ProtectedLayout>
